// app global css
html, body {
  color: #36342B;
  background-color: #FDFDFD;
}

.text-black {
  color: #36342B;
}

.bg-color-starbucks {
  background-color: #4A9866;
}
.bg-color-starbucks--light {
  background-color: #84C89C;
}
